<kt-portlet>
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h1 class="kt-portlet__head-title">
        Alternate Payment Method
      </h1>
    </div>
  </div>
  <kt-portlet-body>
    <div>
      <div>
        <form>
          <h5>ACCOUNT 1</h5>
          <hr>
          <div class="form-group">
            <label for="exampleInputEmail1">Account holder </label>
            <input type="text" value="I4I ONTECH SOLUTIONS PRIVATE"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Current Account No </label>
            <input type="text" value="10051035508"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">IFSC </label>
            <input type="text" value="IDFB0080173"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Bank </label>
            <input type="text" value="IDFC FIRST Bank"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address </label>
            <textarea type="text" rows="4" class="form-control readonly" readonly>
              IDFC First Bank,
              Basavangudi Branch,
              Bangalore-560004
            </textarea>
          </div>
          <h5>ACCOUNT 2</h5>
          <hr>
          <div class="form-group">
            <label for="exampleInputEmail1">Account holder </label>
            <input type="text" value="i4i Ontech Solutions Pvt Ltd"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Current Account No </label>
            <input type="text" value="50200048839143"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">IFSC </label>
            <input type="text" value="HDFC0001373"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Bank </label>
            <input type="text" value="HDFC Bank"  class="form-control readonly" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address </label>
            <textarea type="text" rows="4" class="form-control readonly" readonly>
              Rajajinagar Bashyam Circle Branch
              792 5th Main Road
              59th Cross 5th Block
              Rajajinagar ,Bangalore
              Karnataka 560010
            </textarea>
          </div>
        </form>
      </div>
    </div>
  </kt-portlet-body>
  <kt-portlet-footer>
    <div class="m-2 float-right">
      <button class="btn btn-default mr-2" (click)="dialogRef.close()">
        Cancel
      </button>
    </div>
  </kt-portlet-footer>
</kt-portlet>