<div>
  <div class="row content-center">
    <div>
      <ul class="social-network social-circle">
        <li>
          <a
            [href]="shareFb"
            class="icoFacebook"
            title="Facebook"
            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
            target="_blank"
            title="Share on Facebook"
            ><i class="flaticon-facebook-letter-logo icon-size"></i
          ></a>
        </li>
        <li>
          <a
            [href]="shareWhats"
            class="icoWhats"
            title="whatsapp"
            data-action="share/whatsapp/share"
            onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
            target="_blank"
            title="Share on whatsapp"
            ><i class="flaticon-whatsapp icon-size"></i
          ></a>
        </li>
        <li>
          <a
            [href]="shareMail"
            class="icoGoogle"
            title="mail"
            onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
            target="_blank"
            title="Share on Mail"
            ><i class="flaticon-multimedia icon-size"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
