:host{
  .second-row{
    margin-left: -123px !important;
  }

  .unspsc-row{
    margin-left: -240px !important;
  }

  .third-row{
    margin-left: -60px !important;
  }

  .cursor-label{
    cursor: pointer;
  }

  .bg-list{
    display: inline;
  }
}