@import "../../../../../assets/sass//global/components/general/timeline-v2.scss";

.btn-chat {
  margin-top: -18px !important
;
  float: right !important;
}
.time-color {
  font-weight: 900;
  color: #507cf4;
}
.cmt-color {
  color: #7d83a9;
}
textarea.form-control {
  height: 85px !important;
}
.kt-portlet__head-title {
  font-weight: 900px !important;
  font-size: large !important;
}
.fit-contant {
  width: fit-content !important;
}
