
.form-label{
    text-align: right;
    margin-top: 11px;
  }

.footer{
  margin-top: 30px;
  margin-right: 70px;
  text-align: right !important;
  margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }
 