:host {
  .pt-8 {
    padding: 20px !important;
  }
  .member-data {
    font-size: 18px !important;
    color: #1bc5bd !important;
  }
  .modal-footer {
    padding: 0px !important;
  }
  .modal-body {
    padding-bottom: 0px !important;
  }
  .img-size {
    width: 100px;
    height: 100px;
  }
}
