:host{
  .action-cell{
    margin-right: -306px !important;
  }
  
  .mat-table__wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .kt-portlet__head{
    background: red;
  }

  .kt-portlet__head-title{
    color: #fff !important;
  }

  .kt-font-bold {
    font-weight: 800 !important;
}

}
