:host {
  .mat-header-cell.mat-column-email,
  .mat-cell.mat-column-email {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-header-cell.mat-column-email,
  .mat-cell.mat-column-email {
    flex: 0 0 200px !important;
    width: 200px !important;
  }
}
