<div class="kt-portlet">
  <kt-portlet-body>
    <mat-table
      class="lmat-elevation-z8"
      #table
      [dataSource]="dataSource"
      matSort
      matSortDisableClear
      matSortActive="Name"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="#">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ element.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Company
        </mat-header-cell>
        <mat-cell class="text-space" *matCellDef="let element; let i = index">
          {{ element.companyName }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell class="text-space" *matCellDef="let element; let i = index">
          {{ element.email }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Phone
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"
          >{{ element.phoneNumber }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sales">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Sales Catalogue
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ element.salesPrdCnt }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="purchase">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Purchase Catalogue
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"
          >{{ element.purchasePrdCnt }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef style="margin-left: 15px">
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-left: 15px">
          <span
            [class]="
              getStatusClass(element, 'kt-badge kt-badge--dot', 'badge--')
            "
          ></span
          >&nbsp;
          <span
            [class]="
              getStatusClass(element, 'kt-font-success kt-font-bold', 'font-')
            "
            >{{ getStatusText(element.isMember) }}</span
          >
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell
          *matCellDef="let element; let i = index"
          class="mat-action-column"
        >
          <button
            class="btn btn-label-success"
            *ngIf="element.isMember == 0"
            (click)="validate(element)"
          >
            Validate
          </button>
          <button
            class="btn btn-label-primary"
            *ngIf="element.isMember == 1"
            (click)="reject(element)"
          >
            Reject
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
    <div class="text-center" *ngIf="!dataSource.hasData">No record found</div>

    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="fetching"> </mat-spinner>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]"
        [showFirstLastButtons]="true"
        [length]="1000"
        (page)="pageChangeEvent($event)"
      >
      </mat-paginator>
    </div>
  </kt-portlet-body>
</div>
