<kt-portlet>
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Payment Settings</h3>
    </div>
    <div class="float-right search-button ">
      <div class="ml-0 mt-3  kt-input-icon kt-input-icon--left">
        <button type="button" class="btn btn-outline-primary" (click)="addPackage()">Add Package
        </button>
      </div>
    </div>
  </div>
  <kt-portlet-body>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef> SI. No </mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index">  {{ i + 1 + paginator.pageSize * paginator.pageIndex }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef> Service Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>
          Price INR
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.price}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element;let i=index" class='mat-action-column'>
          <button class="btn btn-label-success" (click)="edit(element)">
            Edit
          </button>&nbsp;
          <button class="btn btn-label-primary" (click)="delete(element)">
            Delete
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.description}}
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <div class="mat-table__message text-center " *ngIf="!dataSource.hasData">
      No Record Found
    </div>
    <div *ngIf="fetching" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="30">
      </mat-progress-spinner>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" [showFirstLastButtons]="true">
    </mat-paginator>

  </kt-portlet-body>
</kt-portlet>