<div class="kt-portlet">
  <div class="row border-full m-2 p-2 container-package">
    <!-- <div class="col"></div> -->
    <div class="set-align-center mt-2">
      <div class="card main-card">
        <div class="mt-3">
          <h3 class="text-center ruppes">Direct buyer contact fecility</h3>
          <h5 class="text-center ruppes price-text">₹999 INR</h5>
          <h5 class="text-center ruppes-list">
            Take your business to next level
          </h5>
        </div>
        <div>
          <div class="row m-5 list-container">
            <span class="material-icons mr-2"> language </span>
            <span class="list-font">
              Eliminate multiple steps to reach buyers
            </span>
          </div>
          <div class="row m-5 list-container">
            <span class="material-icons mr-2"> business </span>
            <span class="list-font">
              Quicker access for your buyers reach you
            </span>
          </div>
          <div class="row m-5 list-container">
            <span class="material-icons mr-2"> collections_bookmark </span>
            <span class="list-font">Save money buy leads</span>
          </div>
        </div>
        <div class="set-align-center mt-6" style="margin-top: 50px">
          <div
            (click)="subScription()"
            class="pay-now-btn mt-6"
            style="
              padding-top: 12px;
              padding-bottom: 12px;
              padding-left: 15px;
              padding-right: 50px;
              border-top-right-radius: 84px;
            "
          >
            <h4 class="text-center mt-2 pay-text">Activate</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
