.form-label {
  text-align: right;
}

.footer-align {
  text-align: center;
}

.readonly-input {
  color: #48465b;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.input-text {
  font-size: 14px;
  text-align: center;
}

.bg-color {
  background-color: #faebd7;
}

.btn-align {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 0.85em;
}

.kt-portlet__head-toolbar button.btn {
  padding: 0px;
}
