<kt-portlet>
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Members List</h3>
    </div>
    <div class="float-right search-button">
      <div class="input-group mt-3">
        <input
          #searchInput
          [(ngModel)]="searchKey"
          type="text"
          class="form-control search-input"
          (keyup.enter)="applyFilter()"
          placeholder="Search..."
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="input-group-append">
          <button
            class="btn btn-brand search-btn"
            [ngClass]="{
              'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading
            }"
            type="button"
            (click)="applyFilter()"
          >
            <mat-icon class="search-icon"> search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <kt-portlet-body>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="brands">
        <mat-header-cell *matHeaderCellDef class="col1-width">
          Brands
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="col1-width">
          <img
            class="img-size"
            *ngIf="element.companyImage != null"
            [src]="getImage(element.companyImage)"
          />
          <img
            class="img-size"
            *ngIf="element.companyImage == null"
            src="../../../../assets/images/iBizzo-logo-gray.png "
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="companies">
        <mat-header-cell *matHeaderCellDef class="col2-width">
          Registered Companies
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-break col2-width">
          <a
            (click)="getUrl(element)"
            class="link-url text-primary"
            target="_blank"
            >{{ element.companyName }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="salesCatalogue">
        <mat-header-cell
          *matHeaderCellDef
          class="col3-width"
          style="margin-right: -65px;"
        >
          Sales Catalogue
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          style="margin-right: -45px;"
          class="col3-width"
        >
          <a
            class="btn btn-clear"
            (click)="getUrl(element, 'sales-catalogue')"
            class="link-url text-primary"
            target="_blank"
            ><span class="badge badge-pill badge-danger">
              {{ element.totalProducts }}</span
            >
            Catalogue</a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <div
      *ngIf="fetching"
      style="display: flex; justify-content: center; align-items: center;"
    >
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="20">
      </mat-progress-spinner>
    </div>

    <div class="mat-table__message text-center" *ngIf="!dataSource.hasData">
      No Record Found
    </div>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 30]"
      (page)="pageChangeEvent($event)"
      [length]="1000"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </kt-portlet-body>
</kt-portlet>
