<!-- <div class="kt-portlet">
  <div
    class="row swiper-container m-2 p-2"> -->

<!-- <iframe id='iframe' width="100%" frameBorder="0" [src]="urlSafe"></iframe> -->
<!-- <div *ngIf="allPackages&&allPackages.length!=0" class="swiper-wrapper">
      <div
        *ngFor="let head of offerList;let i=index" class="swiper-slide ">
        <div *ngIf="i==0" class="set-align-center mt-2 cursor-point">
        <div  class="card main-card cursor-point" (click)="isAlreadyTaken?null:selectedChanges(i)">
          <div class="mt-3">
            <h5 class="text-center ruppes">Minisite and Sales Catalogue</h5>
            <h5 class="text-center ruppes price-text" style="margin-top: 10px;">₹{{getAmount(1)}} INR/YEAR</h5>
            <h5 class="text-center ruppes-list">Accelerate your bussiness by subscribing</h5>
          </div>
          <div class="mt-3">
            <div class="row m-3">
              <span class="material-icons col-1 mr-2">
                language
              </span>
              <span class="col ruppes-list">
                Get an Attractive Minisite
              </span>
            </div>
            <div class="row m-3">
              <span class="material-icons col-1 mr-2">
                business
              </span>
              <span class="col ruppes-list">
                Unlimited Sales catelogue
              </span>
            </div>
            <div class="row m-3">
              <span class="material-icons col-1 mr-2">
                collections_bookmark
              </span>
              <span class="col ruppes-list">
                Free buy leads
              </span>
            </div>
            <div class="row mt-2 mr-3 ml-3">
              <span class="material-icons col-1 mr-2">
                supervisor_account
              </span>
              <span class="col ruppes-list">
                Free offers to matched buyers
              </span>
            </div>
          </div>
          <div class="set-align-center mt-4">
            <div class="pay-now-btn" style="width: 150px; height: 40;
                           width: 150px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 15px;
                    padding-right: 35px;
                    border-top-right-radius: 84px;">
              <h4 class="text-center mt-2 pay-text">Pay Now</h4>
            </div>
          </div>
        </div>
        </div>

        <div *ngIf="i==4" class="set-align-center cursor-point"  >
          <div class="card main-card " style="background-color: #f16830;" (click)="isMember?null:flyers()">
            <div class="mt-3">
              <h5 class="text-center ruppes">Send Digital Flyers to your buyers</h5>
              <h5 class="text-center ruppes price-text">₹999 INR</h5>
              <h5 class="text-center ruppes-list">Reach your buyers quickly by targetting your
                                business flyers using our tools.</h5>
              <h5 class="text-center ruppes">Use Digital Flyers to</h5>

            </div>
            <div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  fiber_manual_record
                </span>
                <span class="col ruppes-list mr">
                  Eliminate multiple steps to reach buyers
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  fiber_manual_record
                </span>
                <span class="col ruppes-list">
                  Advertise your business
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  fiber_manual_record
                </span>
                <span class="col ruppes-list">
                  Promote new product offers
                </span>
              </div>

            </div>
            <div class="set-align-center ">
              <div class="pay-now-btn" style="width: 150px; height: 40;
                               width: 150px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-right-radius: 84px;">
                <h4 class="text-center mt-2 pay-text">Send Flyers</h4>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="i==2" class="set-align-center cursor-point" (click)="selectedChanges(i)">
          <div class="card main-card " style="background-color: #2943d2;">
            <div class="mt-3">
              <h5 class="text-center ruppes">Direct Buyer - Seller contact facility</h5>
              <h5 class="text-center ruppes price-text">₹{{getAmount(2)}} INR</h5>
              <h5 class="text-center ruppes-list">Take your business to next level</h5>
            </div>
            <div class="mt-3">
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  language
                </span>
                <span class="col ruppes-list">
                  Eliminate multiple steps to reach buyers
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  business
                </span>
                <span class="col ruppes-list">
                  Quicker access for your buyers reach you
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  collections_bookmark
                </span>
                <span class="col ruppes-list">
                  Save money buy leads
                </span>
              </div>
            </div>
            <div class="set-align-center mt-1 mb-1">
              <div class="pay-now-btn" style="width: 150px; height: 40;
                               width: 150px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-right-radius: 84px;">
                <h4 class="text-center mt-2 pay-text">Activate</h4>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="i==3" class="set-align-center cursor-point" (click)="selectedChanges(i)">
          <div class="card main-card " style="background-color: #64c90c;">
            <div class="mt-3">
              <h5 class="text-center ruppes">Get Verified by iBizzo @ just</h5>
              <h5 class="text-center ruppes price-text">₹{{getAmount(3)}} INR</h5>
              <h5 class="text-center ruppes-list">Take your business to next level</h5>
            </div>
            <div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  language
                </span>
                <span class="col ruppes-list">
                  Get Verified tag in your Minisite
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  business
                </span>
                <span class="col ruppes-list">
                  Get Verified tag in product listing
                </span>
              </div>
              <div class="row m-3">
                <span class="material-icons col-1 mr-2">
                  collections_bookmark
                </span>
                <span class="col ruppes-list">
                  Increase trust with your buyers
                </span>
              </div>
            </div>
            <div class="set-align-center mt-1 mb-1">
              <div class="pay-now-btn" style="width: 150px; height: 40;
                               width: 150px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        border-top-right-radius: 84px;">
                <h4 class="text-center mt-2 pay-text">Get Verified</h4>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="i==1" class=" cursor-point content-center set-align-center" (click)="selectedChanges(4)">
          <div class="card main-card " style="background-color: #f44336;">
            <div class="mt-3">
              <h5 class="text-center ruppes">CORPORATE VIDEO @ Just</h5>
              <h5 class="text-center ruppes price-text">₹{{getAmount(4)}} INR</h5>
              <h5 class="text-center ruppes-list">Take your business to next level</h5>
            </div>
            <div class="" style="margin-bottom:10px">
              <div class="row m-2">
                <span class="material-icons col-1 mr-2">
                  language
                </span>
                <span class="col ruppes-list">
                  Showcase your company in 2 Mins
                </span>
              </div>
              <div class="row m-2">
                <span class="material-icons col-1 mr-2">
                  business
                </span>
                <span class="col ruppes-list">
                  Create a strong presence in YouTube
                </span>
              </div>
              <div class="row m-2">
                <span class="material-icons col-1 mr-2">
                  collections_bookmark
                </span>
                <span class="col ruppes-list">
                  Share it with your contacts for better brand visibility
                </span>
              </div>
              <div class="row m-2">
                <span class="material-icons col-1 mr-2">
                  fiber_manual_record
                </span>
                <span class="col ruppes-list">
                  Increase supplier credibility on iBizzo
                </span>
              </div>

            </div>
            <div class="set-align-center mb-2">
              <div class="pay-now-btn" style="width: 150px; height: 40;
                               width: 150px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                            border-top-right-radius: 84px;">
                <h4 class="text-center mt-2 pay-text">Activate</h4>
              </div>
            </div>
          </div>
        </div>
        <section *ngIf="(i!=4&&i!=1)" class="example-section set-align-center">
          <mat-checkbox class="example-margin" [(ngModel)]="checkBox[i]" [disabled]="(isAlreadyTaken&&i==0)?isAlreadyTaken:false" (ngModelChange)="(isAlreadyTaken&&i==4)?null:selcted(i)">
            <b>
              Select
            </b>
          </mat-checkbox>
        </section>
        <section *ngIf="i==1" class="example-section set-align-center">
          <mat-checkbox class="example-margin" [(ngModel)]="checkBox[4]" 
           (ngModelChange)="selcted(4)">
            <b>
              Select
            </b>
          </mat-checkbox>
        </section>

      </div> -->
<!-- </div> -->
<!--      
  
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3"></div>
    <div class="col">
      <div class="row">
        <div class="col border-offers">Packages</div>
        <div class="col border-offers">Discount</div> -->
<!-- <div class="col border-offers">Total Offer Price</div> -->
<!-- </div>

      <div class="row" *ngFor="let item of bundleOffers">
        <div class="col border-offers">{{item.offerName}}</div>
        <div class="col border-offers">{{item.offerDiscount}}%</div> -->
<!-- <div class="col border-offers">₹{{item.offerPrice}}</div> -->
<!-- </div>

    </div>
    <div class="col-sm-3"></div>
  </div>
  <div *ngIf="arrData.length!=0" class="row mt-5">
    <div class="col-sm-3"></div>
    <div class="col-sm">
      <div class="row">
        <div class="col-4 border-offers">Packages</div>
        <div class="col border-offers">Total Offer Price</div>
      </div>
    
          <div class="row" *ngFor="let item of arrData" >
            <div class="col-4 border-offers">
              {{this.offerList[item]}}
            </div>
            <div class="col border-offers">₹{{this.getAmount(item == 0 ? 1 : item)}}</div>
          </div>
          <div class="row">
            <div class="col-4 border-offers color-change">Amount</div>
            <div class="col border-offers color-change">₹{{totalValue}}</div>
          </div>
          <div class="row">
            <div class="col-4 border-offers color-change">Discount INR</div>
            <div class="col border-offers color-change">₹{{totalDis}}</div>
          </div>
      <div class="row">
        <div class="col-4 border-offers color-change">Total</div>
        <div class="col border-offers color-change">₹{{getPercentage()}}</div>
      </div>

      <div class="row" *ngFor="let item of bundleOffers">
        <div class="col border-offers">{{item.offerName}}</div>
        <div class="col border-offers">{{item.offerDiscount}}%</div>
         <div class="col border-offers">₹{{item.offerPrice}}</div> -->
<!-- </div>

    </div>
    <div class="col-sm-3"></div>

  </div>
  <div class="set-align-center m-5">
    <button class="btn btn-primary" style="background:#da0608;color:#fff;border-color:#da0608" (click)="makeBundle()">
      Add to Cart
    </button>
  </div> -->

<!-- </div> -->
<!-- <iframe
  [src]="urlSafe"
  style="border: 0px #ffffff none"
  name="myiFrame"
  scrolling="no"
  frameborder="1"
  marginheight="0px"
  marginwidth="0px"
  height="1400px"
  width="100%"
></iframe> -->
<div>
  <table>
    <tr>
      <th style="background-color: rgb(117, 196, 163); width: 370px;">
        <div style="display: flex; justify-content: center; padding: 15px;">
          <div style="display: grid;">
            <span class="table-head-one">STANDARD</span>
            <span
              class="table-small"
              style="margin-top: 10px; margin-bottom: 10px;"
            >
              Now
            </span>
            <span class="table-head-two" style="line-height: 35px;">
              ₹2,999 / Year
            </span>
            <span class="table-small" style="line-height: 30px;">was</span>
            <span
              class="table-head-two"
              style="font-size: 20px; line-height: 30px;"
            >
              <span style="text-decoration: line-through;">₹3,999</span>
              / Year
            </span>
            <span
              class="table-small"
              style="line-height: 30px; font-weight: 600;"
            >
              Get discovered by buyers
            </span>
            <span class="table-small" style="line-height: 30px;">
              Attractive Minisite
            </span>
            <span class="table-small" style="line-height: 30px;">
              Unlimited dynamic Sales catelogue
            </span>
            <span class="table-small" style="line-height: 30px;">
              View Buy Leads for free
            </span>
            <span class="table-small" style="line-height: 30px;">
              Support manager
            </span>
           
          </div>
        </div>
      </th>
      <th style="background-color: rgb(105, 174, 219); width: 370px;">
        <div
          style="
            display: flex;
            justify-content: center;
            padding-top: 6px;
            padding-bottom: 10px;
          "
        >
          <div style="display: grid;">
            <span class="table-head-one mt-5">ADVANCED</span>
            <span
              class="table-small"
              style="margin-top: 10px; margin-bottom: 10px;"
            >
              Now
            </span>
            <span class="table-head-two" style="line-height: 35px;">
              ₹4,999 / Year
            </span>
            <span class="table-small" style="line-height: 30px;">was</span>
            <span
              class="table-head-two"
              style="font-size: 20px; line-height: 30px;"
            >
              <span style="text-decoration: line-through;">₹6,999</span>
              / Year
            </span>
            <span
              class="table-small"
              style="line-height: 30px; font-weight: 600;"
            >
              Reach your Buyers Quickly
            </span>
            <span class="table-small" style="line-height: 30px;">
              Flyers/Ad campaign for 2 weeks
            </span>
            <span class="table-small" style="line-height: 30px;">
              Corporate video
            </span>
            <span class="table-small" style="line-height: 30px;">
              Verification stamp
            </span>
            <span class="table-small" style="line-height: 30px;">
              Direct contact option in minisite
            </span>
            <span class="table-small" style="line-height: 30px;">
              All services of standard package
            </span>
           
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div style="display: flex; justify-content: center;">
          <div class="btn btn-brand" (click)="subScription('BASIC')">
            Add To Cart
          </div>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: center;">
          <div class="btn btn-brand" (click)="subScription('Advanced')">
            Add To Cart
          </div>
        </div>
      </th>
    </tr>
  </table>
</div>
