:host {
  .set-name {
    color: #000000 !important;
    font-size: 14px !important;
    margin-left: 10px !important;
  }
  .company-link {
    color: #ff9900 !important;
    font-weight: bold;
    text-decoration: underline;
  }
  .company-text {
    color: black;
  }

  .sub-text {
    color: black;
  }
}
