.mat-table__message {
  padding: 30px !important;
  text-align: center;
  font-weight: 500;
  background-color: white;
}

.sent-cell{
  margin-left: -143px;
}

.recieved-cell{
  margin-left: 40px;
}

.kt-portlet__head-toolbar button.btn{
  padding: 0px;
}
