:host{
  .kt-footer{
    background-color: #9e9e9e21;
  }
.btn-default{
  background: #9E9E9E !important;
  color:#fff;
}
.set-margin{
  margin-top: -10px;
}

.kt-header{
  background: #ff0000 !important;
  color: #fff;
}

.form-control{
  border: 1px solid #213e82 !important;
}

// @media screen and (max-width:425px) {
//   .mobile-view{
//     display: none;
//   }
// }
}