<div class="kt-portlet">
  <div class="row border-full m-2 p-2 container-package">
    <!-- <div class="col"></div> -->
    <div class="set-align-center mt-2">
      <div class="card main-card">
        <div class="mt-3">
          <h3 class="text-center ruppes">Send Digital Flyers to your buyers</h3>
          <h5 class="text-center ruppes price-text">₹999 INR</h5>
          <h5
            class="list-font"
            style="padding-bottom: 10px; text-align: center"
          >
            Reach your buyers quickly by targetting your<br />
            business flyers using our tools.
          </h5>
          <h5 class="text-center ruppes-list">Use Digital Flyers to</h5>
        </div>
        <div>
          <div class="row m-5 list-container">
            <span class="list-font"> Market your products / service </span>
          </div>
          <div class="row m-5 list-container">
            <span class="list-font"> Advertise your business </span>
          </div>
          <div class="row m-5 list-container">
            <span class="list-font">Promote new product offers</span>
          </div>
        </div>
        <div class="set-align-center mt-6" style="margin-top: 50px">
          <div class="pay-now-btn mt-6 btn-container">
            <h4 class="text-center mt-2 pay-text">Send Flyers</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
