<div
  class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--skin-solid kt-portlet--height-fluid">
  <div class="kt-portlet__head kt-portlet__head--noborder kt-portlet__space-x">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title mb-3">
        Manage Cluster
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body kt-portlet__body--fit">
    <div class="kt-widget17">
      <div class="kt-widget17__visual kt-widget17__visual--chart kt-portlet-fit--top kt-portlet-fit--sides"
        style="background-color: #1aab9b; height: 100px;">
      </div>
      <div *ngIf="remainingProducts" class="row cluster-style">
        <kt-group-cards (valueChange)='displayCounter($event)' *ngFor="let product of remainingProducts"
          [group]="product" [colors]="colors" class="swiper-slide col-md-3 col-sm-12" shadow="more" isCluster=true>
        </kt-group-cards>
      </div>
      <kt-no-results class="text-position" *ngIf="remainingProducts.length == 0" textColor="true" [show]="true"
        message="There are no group available"></kt-no-results>
    </div>
  </div>
</div>