.amount-cell-1{
  margin-left: -80px;
}

.amount-cell-2{
  margin-left: -40px;
}

.amount-cell-3{
  margin-left: -60px;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}