:host /deep/ .mat-tab-body-content {
  overflow: hidden !important;
}

:host {
  .mat-table__wrapper {
    height: 100% !important;
  }
  max-width: 600px;

  .input-group .prepend-text {
    line-height: 1 !important;
    width: 170px;
    text-align: left !important;
  }

  mat-select.mat-select {
    width: 100px;
    border-radius: 4px 0px 0px 4px !important;
  }

  .search-bar-group {
    width: 454px !important;
  }

  .search-btn {
    width: 50px !important;
    height: 38px !important;
  }

  .search-icon {
    height: 19px !important;
    width: 14px !important;
  }

  .text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 0 !important;
}

}
