.form-group {
  width: 80%;
}

.form-label {
  text-align: right !important;
  margin-top: 5px !important;
}
.btn-primary {
  margin: 5px !important;
}
.phone-field {
  margin-right: 18px !important;
}
