<kt-portlet>
  <div class="kt-portlet__head header">
    <div class="alert alert-solid-primary alert-bold alert-body" role="alert">
      <div class="alert-text text">
        Your Profile is sent & recieved by {{ numberBuyers }} Potential Buyers.
      </div>
      <div class="kt-portlet__head-toolbar">
        <button class="btn btn-clear" (click)="dialogRef.close()">
          <i class="la la-close"></i>
        </button>
      </div>
    </div>
  </div>
  <kt-portlet-body>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="#">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef element class="company-cell">
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="company-cell">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef element>
          Company
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.companyName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ data.productName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef element>
          Location
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.location }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <div class="mat-table__message" *ngIf="!dataSource.hasData">
      No Record Found
    </div>

    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="fetching"> </mat-spinner>
      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[3, 5, 10]"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </kt-portlet-body>
</kt-portlet>
