.company-cell{
  margin-left: -124px;
}

.mat-table__message {
  padding: 30px !important;
  text-align: center;
  font-weight: 500;
  background-color: white;
}

.alert-body{
  margin-bottom: inherit; 
  height: 60px;
}

.header{
  padding: 0px;
}

.text{
  font-size: 14px;
}

.kt-portlet__head-toolbar button.btn{
  padding: 0px;
}

