.align-text{
  text-align: center !important;
}

.assign-color{
  background-color: #eeeeee !important;
}

.label-color{
  color: #ff0404 !important;
}

.set-btn{
  background-color: #6C757D !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.set-btn2{
  background-color: #6C757D !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.overview-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}