:host {
  .logo-size {
    width: 80px !important;
    height: 50px !important;
    margin-top: 10px;
  }
  .brand-logo {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .btn-flow {
    float: right !important;
  }
}
