<div class="kt-portlet">
    <div class="kt-portlet__body">
        <h3 style="text-align: center; font-size: 28px !important;"><strong><u>MEMORANDUM OF UNDERSTANDING</u></strong></h3>
        <p><strong>BY AND BETWEEN </strong></p>
        <p><strong>i4i ONTECH SOLUTIONS PRIVATE LIMITED</strong>, a company incorporated under the Companies Act, 2013
            with
            corporate identification number U74999KA2019PTC123645 and having its office at the registered address.
            (hereinafter
            referred to as &ldquo;<strong>i4i</strong>&rdquo;, which shall mean and include its successors and assigns)
            of the
            ONE PART;</p>
        <p><strong>AND</strong></p>
        <p><strong style="text-transform: uppercase;">{{myOrganizationName}}</strong>, an Organization registered under
            the laws of India and having the
            office at its Registered address&nbsp;(hereinafter referred to as the
            &ldquo;<strong>"Group/Partner"</strong>&rdquo;, which
            shall mean and include its successors and assigns) of the OTHER PART.</p>
        <p>(i4i and the "Group/Partner" are individually referred to as &ldquo;<strong>Party</strong>&rdquo; and
            collectively referred
            to as &ldquo;<strong>Parties</strong>&rdquo;.)</p>
        <p><strong>WHEREAS</strong></p>
        <ol type="A">
            <li>i4i is engaged in the business of, <em><em>inter alia</em></em>, software development and providing a
                platform
                for various vendors/entities to buy and sell products.</li>
            <li>i4i has developed a platform, available at ibizzo.com, wherein users can register in order to buy and
                sell
                various products.</li>
            <li>The "Group/Partner" is an organization that targets micro, small and medium industries to assist them in
                marketing their
                products.</li>
            <li>The "Group/Partner" is desirous of engaging i4i to provide its members/users a platform to increase
                their online
                presence and broaden the "Group/Partner"&rsquo;s market and thus enable The "Group/Partner" members to
                have global online access
                to showcase their products / company, by registering as both sellers and buyers and connecting with
                members of the
                "Group/Partner" located in states across India.</li>
            <li>i4i has agreed to customize its existing platform for the "Group/Partner", as per the terms and
                conditions of this MOU.
            </li>
            <li>The Parties are now entering into this MOU to record the terms and conditions of their understanding in
                relation
                to the development and customization of the i4i platform, as per the specification of the
                "Group/Partner".</li>
        </ol>
        <p><strong>NOW THEREFORE IN CONSIDERATION OF THE MUTUAL COVENANTS AND OBLIGATIONS CONTAINED IN THIS MOU AND
                OTHER GOOD
                AND VALUABLE CONSIDERATION THE RECEIPT AND SUFFICIENCY OF WHICH ARE HEREBY ACKNOWLEDGED, THE PARTIES
                AGREE AS
                FOLLOWS:</strong></p>
        <ol type="1">
            <li><strong>SCOPE OF ENGAGEMENT</strong>
                <ol type="1.1">
                    <li>The "Group/Partner" hereby engages i4i to design, develop and implement a customized software
                        solution platform,
                        through its website, <a
                            href="http://www.ibizzo.com"><u>ibizzo.com</u></a>(&ldquo;<strong>Website</strong>&rdquo;),
                        as per the
                        specifications mutually agreed by the Parties, in writing.</li>
                    <li>i4i undertakes to design and implement a software solution platform for the "Group/Partner" to
                        showcase its members,
                        its sales and procurement requirements (&ldquo;<strong>Platform</strong>&rdquo;).</li>
                    <li>In order to develop and design the Platform, i4i would require certain information from the
                        "Group/Partner" for the
                        purpose of (i) verification of the "Group/Partner" identity, eligibility, registration and
                        service requirement, (ii)
                        advertising, marketing, displaying and publication of "Group/Partner" profile and requirements,
                        (iii) enabling
                        communication with the users of the Platform, so that such users may fetch maximum business
                        opportunities, and
                        (iv) generating business enquires and trade leads, and (v) sending communications,
                        notifications, newsletters
                        and customized mailers to the "Group/Partner". The "Group/Partner" undertakes to provide any
                        such information as may be
                        required by i4i, in this regard,</li>
                    <li>The "Group/Partner" shall invite its members (&ldquo;<strong>"Group/Partner"
                            Members</strong>&rdquo;) to register on the
                        Platform. The "Group/Partner" Members shall be governed by the terms and conditions and Privacy
                        Policy of the Website.
                    </li>
                    <li>The "Group/Partner" shall also permit i4i to provide a &lsquo;business-to-business&rsquo;,
                        &lsquo;business-to-customer&rsquo; and &lsquo;business-to-government&rsquo; platform to the
                        "Group/Partner" Members
                        through its platform.</li>
                    <li>The "Group/Partner" shall be permitted to use the Platform for the purpose of (i) promoting and
                        advertising any
                        events and trade shows organized by it; and promoting registrations for seminars and
                        conferences. &nbsp;</li>
                </ol>
            </li>

            <li><strong>OBLIGATIONS OF i4i</strong>
                <ol start="2.2">
                    <li>i4i undertakes to develop the Platform, which will benefit the "Group/Partner" and its members
                        in their proposed
                        online activities, relating to networking, purchase and sale of products.</li>
                    <li>i4i shall conduct a onetime training program for the employees of the "Group/Partner", to guide
                        them on the usage of
                        the Platform. Parties shall mutually agree on a date suitable to conduct the training program.
                    </li>
                    <li>i4i shall provide the "Group/Partner" Members with priority space for advertising their products
                        and services on the
                        Platform landing page.</li>
                </ol>
            </li>

            <li><strong>OBLIGATIONS OF THE "Group/Partner"</strong>
                <ol start="3.1">
                    <li>The "Group/Partner" shall actively market the Platform by educating its members to enroll
                        themselves onto the
                        Platform and use various marketing and procurement services offered therein.</li>
                    <li>The "Group/Partner" shall assist its members in registering on the Platform and inform them of
                        the terms and
                        conditions and privacy policy of the Website.</li>
                    <li>The "Group/Partner" shall obtain and assist i4i in obtaining any consents, as may be required by
                        i4i from the
                        "Group/Partner" Members.</li>
                    <li>The "Group/Partner" shall provide a &lsquo;business-to-business&rsquo; tab on their website for
                        directing the
                        "Group/Partner" Members to the landing page provided by i4i.</li>
                </ol>
            </li>

            <li><strong>REVENUE SHARING </strong>
                <ol start="4.1">
                    <li>i4i shall provide a customized landing page on its ibizzo platform, free of cost, to permit the
                        "Group/Partner" to
                        showcase the Platform to its members.</li>
                    <li>i4i shall offer the "Group/Partner" Members certain free services and certain paid services, as
                        more fully detailed
                        on the Website and Platform dashboard.</li>
                    <li>i4i shall be entitled to collect all the revenue for the paid services from the "Group/Partner"
                        Members, registered
                        through the Platform.</li>
                    <li>i4i shall provide the "Group/Partner" periodic statements of commission payable, in the manner
                        mutually agreed by
                        the Parties.</li>
                </ol>
            </li>

            <li><strong>INTELLECTUAL PROPERTY RIGHTS</strong>
                <ol start="5.1">
                    <li>The "Group/Partner" acknowledges that any and all copyright, designs, trademarks and other
                        intellectual property
                        rights subsistingin or used in connection with the Website and Platform, including but not
                        limited to designs,
                        documents and diagrams, are and shall remain the property of i4i and the "Group/Partner" shall
                        not during or after
                        expiry or termination of this MOU in any way use or question or dispute the ownership thereof by
                        i4i. All
                        rights in any customization of the Website and/or Platform shall belong to i4i and the same
                        shall not be used
                        except for the purposes of this MOU, nor copied or communicated to any other person without
                        i4i&rsquo;s
                        written consent.</li>
                    <li>The "Group/Partner" acknowledges that the customization services provided by i4i under this MOU,
                        including but not
                        limited to all developments, improvements, designs, implementations etc. that i4i makes or
                        conceived either
                        solely or jointly, both as individual items and/or a combination of components
                        (&ldquo;<strong>Work
                            Product</strong>&rdquo;) shall not be considered &lsquo;work for hire&rsquo;. All
                        intellectual property
                        rights in and to such Work Product, including, but not limited to, all copyrights, patents,
                        trade secrets, or
                        other intellectual property rights associated with such Work Product shall be owned by i4i.</li>
                    <li>The "Group/Partner" hereby provides i4i with a non-exclusive and perpetual license to display
                        its trademark and logo
                        on the landing page on i4i - ibizzo Platform during the term of this Agreement, and any renewal
                        of the same.
                    </li>
                    <li>The rights of i4i under this Clause shall be in furtherance to any rights available to it under
                        the terms
                        and conditions of its Website.</li>
                </ol>
            </li>

            <li><strong>CONFIDENTIALITY</strong>
                <ol start="6.1">
                    <li>Any information furnished by i4i, relating to and including, but not limited to the Website, the
                        source code
                        of the Platform, its corporate structure, corporate information, financial statements, business
                        plans,
                        operations, clientele, customers, database, marketing plans, vendors, "Group/Partner"s, agents,
                        trade secrets,
                        copyrights, patents, product information, designs, manuals, maintenance manuals or the similar
                        shall be
                        construed to be &ldquo;<strong>Confidential Information</strong>&rdquo; of i4i and its ownership
                        shall vest
                        with i4i. It is clarified that any information collected by i4i from the Platform, during the
                        term of this
                        Agreement, shall be owned by i4i and shall be considered as the Confidential Information of i4i.
                        &nbsp;</li>
                    <li>The "Group/Partner" acknowledges that during the course of its engagement with i4i, the
                        "Group/Partner" had, has and will
                        continue to have access to Confidential Information. The "Group/Partner" acknowledges that such
                        Confidential
                        Information, is the valuable property of i4i and/or i4i&rsquo;s "Group/Partner"s and is critical
                        to its business.</li>
                    <li>During the term of this MOU, no Confidential Information shall be stored, copied, or otherwise
                        retained in
                        any manner by the "Group/Partner", other than as instructed by i4i. The "Group/Partner" shall
                        make reasonable provisions to
                        ensure that any Confidential Information stored by it is safeguarded against server failures,
                        technical
                        anomalies, fire, theft and other natural calamities, and other eventualities of like nature.
                    </li>
                    <li>The "Group/Partner" shall ensure that its members, officers, sub contractors, agents,
                        independent contractors,
                        employees, agents, and other personnel (&ldquo;<strong>"Group/Partner"
                            Personnel</strong>&rdquo;) having access to the
                        Confidential Information do not use such information for its/their own use at any time without
                        the previous
                        written approval of i4i. The "Group/Partner" shall ensure that the "Group/Partner" Personnel to
                        whom the Confidential
                        Information has been disclosed shall comply with the restrictions in this MOU and not reproduce
                        in any form
                        any part of a document or other record, which contains or is based on or utilizes the
                        Confidential
                        Information, other than for the purpose specified in this MOU. The "Group/Partner" shall be
                        liable for any breach of
                        the confidentiality obligations by its "Group/Partner" Personnel.</li>
                    <li>The "Group/Partner" shall not, and shall ensure that its "Group/Partner" Personnel do not,
                        publish, disclose, copy or
                        disseminate any Confidential Information, to any person, or use it for any purpose, including
                        but not limited
                        to personal gain or profit. The "Group/Partner" shall perpetually hold the Confidential
                        Information in confidence and
                        will not disclose the same, directly or indirectly, to any person, other than in compliance with
                        this MOU. The
                        "Group/Partner" shall take reasonable measures to protect the secrecy of and avoid disclosure
                        and unauthorized use of
                        Confidential Information.</li>
                    <li>The "Group/Partner" acknowledges that i4i owns all right, title and interest in and to the
                        Confidential Information
                        and that the "Group/Partner" acquires no right, copyright, title or interest in any Confidential
                        Information by virtue
                        of its access to or creation of such Confidential Information.</li>
                    <li>Notwithstanding the aforesaid provisions, the "Group/Partner" may disclose Confidential
                        Information where ordered to
                        do so by any government, judicial or quasi-judicial authority; provided however, that the
                        "Group/Partner" shall in
                        such a case give i4i a reasonable notice of any prospective disclosure and shall assist i4i in
                        obtaining an
                        exemption or protective order preventing such disclosure, wherever it is reasonably possible to
                        obtain such
                        exemption or protective order.</li>
                    <li>The "Group/Partner" shall return to i4i or to its nominees, Confidential Information, including
                        copies thereof, made
                        directly or indirectly by the "Group/Partner" or in the "Group/Partner"&rsquo;s possession,
                        irrespective of storage or
                        presentation medium, including all electronic and hard copies thereof, and any material
                        containing or
                        disclosing any Confidential Information which is in the "Group/Partner"&rsquo;s direct or
                        indirect possession, power
                        and control as and when called upon to do so by i4i and upon termination, or at the option of
                        i4i, as the case
                        may be, destroy the same and will not directly or indirectly make or retain any copies of such
                        Confidential
                        Information. The "Group/Partner" shall compensate i4i for any willful misuse or negligence or
                        damage to the
                        Confidential Information of i4i.</li>
                    <li>This clause shall survive termination of this MOU.</li>
                </ol>
            </li>

            <li><strong>REPRESENTATIONS AND WARRANTIES</strong>
                <ol start="7.1">
                    <li>Each of the Parties hereby represents and warrants that: -</li>
                    <li>It has the power and authority to execute and deliver this MOU and is not prohibited from
                        entering into this
                        MOU;</li>
                    <li>This MOU has been duly authorized by all necessary resolutions and upon execution and delivery,
                        will
                        constitute legal, valid and binding obligations with respect to each Party, and enforceable in
                        accordance with
                        its terms; and</li>
                    <li>The execution and delivery of this MOU, and the promises, agreements or undertakings under this
                        MOU do not
                        violate any applicable law or violate or contravene the provisions of or constitute a default
                        under any
                        documents, contracts, agreements or any other instruments to which it is a party or which are
                        applicable to
                        it.</li>
                    <li>The "Group/Partner" while performing its obligations under this MOU, shall comply with the terms
                        and conditions of
                        all the regulatory approvals, licenses and permits relating to the usage of the Website and
                        Platform. The
                        "Group/Partner" shall be solely responsible for all costs associated with such compliance.</li>
                    <li>The features and services on the Platform are provided on an &lsquo;as is&rsquo; and &lsquo;as
                        available&rsquo; basis and i4i hereby expressly disclaims any and all warranties, express or
                        implied,
                        including but not limited to any warranties of condition, quality, durability, performance,
                        accuracy,
                        reliability, merchantability or fitness for a particular purpose. All such warranties,
                        representations,
                        conditions, undertakings and terms are hereby excluded.</li>
                    <li>i4i makes no representations or warranties about the validity, accuracy, correctness,
                        reliability, quality,
                        stability or completeness of any information provided on or through the Platform. i4i does not
                        represent or
                        warrant that the manufacture, importation, distribution, offer, display, purchase, sale and/or
                        use of products
                        or services offered or displayed on the Platform does not violate any third party rights.</li>
                    <li>i4i makes no representations or warranties of any kind concerning any product or service offered
                        or
                        displayed on the Platform. Any material downloaded or otherwise obtained through the Platform is
                        at the
                        member&rsquo;s sole discretion and risk. ibizzo shall be solely responsible for any damage to
                        its computer
                        system or loss of data that may result from the download of any such material. No advice or
                        information,
                        whether oral or written, obtained by the "Group/Partner" Members from the Platform shall create
                        or be deemed to create
                        any warranty not expressly stated herein.</li>
                    <li>Under no circumstances shall i4i be held liable for any delay or failure or disruption of the
                        content or
                        services delivered through the Platform resulting directly or indirectly from acts of nature,
                        forces or causes
                        beyond its reasonable control, including without limitation, internet failures, computer,
                        telecommunications
                        or any other equipment failures, electrical power failures, strikes, labour disputes, riots,
                        insurrections,
                        civil disturbances, shortages of labour or materials, fires, flood, storms, explosions, Acts of
                        God, natural
                        calamities, war, governmental actions, orders of domestic or foreign courts or tribunals or
                        non-performance of
                        third parties.</li>
                    <li>The "Group/Partner" hereby further agree that i4i is not responsible and shall have no liability
                        for any material
                        posted by its members or other members as the case may be or any other person; including
                        defamatory, offensive
                        or illicit material and that the risk of damage from such material rests entirely with the
                        users. i4i reserves
                        the right, at its own expense, to assume the exclusive defense and control of any matter
                        otherwise subject to
                        indemnification by the "Group/Partner" or any of its members, in which event such
                        "Group/Partner" and its members shall
                        cooperate with i4i in asserting any available defenses&rsquo;.</li>
                    <li>i4i shall not be liable for any special, direct, indirect, punitive, incidental or consequential
                        damages or
                        any damages whatsoever (including but not limited to damages for loss of profits or savings,
                        business
                        interruption, loss of information), whether in contract, negligence, tort, strict liability or
                        otherwise or
                        any other damages resulting from any of the services provided under this MOU or incidental
                        thereto.</li>
                </ol>
            </li>

            <li><strong>INDEMNITIES</strong>
                <ol start="8.1">
                    <li>The "Group/Partner" shall indemnify and keep fully indemnified i4i andits executives, directors,
                        affiliates,
                        employees, representatives, agents and nominees (collectively, the &ldquo;<strong>Indemnified
                            Parties</strong>&rdquo;)&nbsp;from and against all monetary losses, actions, suits,
                        proceedings, loss of
                        reputation, claims, demands, costs, expenses and liabilities, which may arise or occur or be
                        taken or sought
                        against the Indemnified Parties&nbsp;in connection with (i) breach of any representations and
                        warranties, (ii)
                        any claim made by the "Group/Partner" Members, and (iii) any claim with regard to usage of the
                        intellectual property
                        of the "Group/Partner" and/or the "Group/Partner" Members.</li>
                    <li>The indemnity under this Clause shall survive the expiration or termination of this MOU</li>
                </ol>
            </li>

            <li><strong>TERM AND TERMINATION</strong>
                <ol start="9.1">
                    <li>This MOU shall commence on the Effective Date and be valid unless terminated in the manner
                        provided in this
                        Clause 9.</li>
                    <li>This MOU may be terminated in any manner provided for below:</li>
                    <li>By the mutual written consent of the Parties;</li>
                    <li>By either Party, immediately, if the other shall seek protection under any bankruptcy,
                        receivership,
                        creditors arrangement or if any insolvency proceeding is instituted against the other;</li>
                    <li>By i4i, on providing 30 (thirty) days written notice to the "Group/Partner" in the event of a
                        breach by the "Group/Partner",
                        which breach remains uncured for a period of 15 (fifteen) days from the date of receipt of the
                        notice to that
                        effect from i4i. In the event of termination due to breach by the "Group/Partner", i4i shall not
                        be liable to make any
                        payments to the "Group/Partner".</li>
                    <li>Notwithstanding the above clause, i4i may terminate this MOU for convenienceon providing the
                        "Group/Partner" with a
                        prior written notice of 30 (thirty) days.</li>
                    <li>All propertyof, or relating to, i4i as shall have been in the possession of the Vendor,
                        including but not
                        limited to the Confidential Information, intellectual property, materials or documents, shall be
                        forthwith
                        surrendered by the "Group/Partner" to i4i upon the termination of engagement. It is clarified
                        that i4i shall have the
                        right to retain all information collected by it (from the Platform and elsewhere) during the
                        term of this
                        Agreement.</li>
                    <li>The termination of this MOU shall be without prejudice to any claim or rights of
                        actionpreviously accrued to
                        any Party hereto against other Party. The Clauses, the nature of which are required to survive
                        termination of
                        this MOU, including Clause 6&nbsp;<em><em>(Confidentiality)</em></em>, Clause
                        5&nbsp;(<em><em>Intellectual
                                Property Rights),</em></em>&nbsp;Clause 7<em><em>&nbsp;(Representations and
                                Warranties)</em></em>, Clause
                        8<em><em>&nbsp;(Indemnities)</em></em>, Clause 13&nbsp;<em><em>(General
                                Provisions)</em></em>&nbsp;shall
                        survive the termination of this MOU or any part thereof.</li>
                </ol>
            </li>

            <li><strong>RELATIONSHIP OF THE PARTIES</strong>
                <ol start="10.1">
                    <li>This MOU has been executed on a principal to principal basis. The relationship between the
                        "Group/Partner" and i4i
                        does not constitute a "Group/Partner"ship, joint venture, agencyor contract of employment. The
                        "Group/Partner" shall not
                        represent that it has any power, right or authority to bind, assume or create any obligations,
                        expressed or
                        implied, on behalf of i4i.</li>
                    <li>The "Group/Partner" shall be solely liable and responsible for complying with all the applicable
                        statutes and
                        regulations concerning and incidental to the "Group/Partner" Personnel. I4i shall not have any
                        legal or monetary
                        liability in this regard.</li>
                </ol>
            </li>

            <li><strong>NOTICES</strong>
                <ol start="11.1">
                    <li>Any notice required or permitted under the terms of this MOU or required by statute, law or
                        regulation will
                        (unless otherwise provided) be in writing and will be delivered in person, sent by facsimile or
                        registered
                        mail (properly posted and fully prepaid in an envelope properly addressed) or sent by facsimile
                        or by e-mail
                        to the respective Parties at their registered office address or official Email.</li>
                    <li>or to such other address, facsimile number or e-mail address as may from time to time be
                        designated by
                        notice hereunder. &nbsp;Any such notice will be in the English language and will be considered
                        to have been
                        given on the first working day of actual delivery or sending by facsimile or e-mail or in any
                        other event
                        within 7 (seven) working days after it was posted in the manner hereinbefore provided.</li>
                </ol>
            </li>

            <li><strong>DISPUTE RESOLUTION AND GOVERNING LAW</strong>
                <ol start="12.1">
                    <li><u>Mediation</u>: In case of any dispute between the Parties in connection with this MOUor the
                        interpretation of any of the terms and/or conditions contained in this MOU, the dispute shall be
                        referred to
                        private Mediation by a sole mediator accredited or certified by any High Court of the Republic
                        of India and
                        appointed mutually by the Parties. If the Parties are unable to resolve the dispute through
                        mediation within
                        thirty (30) days from the date of referral and after attending at least two sessions of
                        Mediation, then and
                        then only the Parties may urge the dispute further.</li>
                    <li><u>Arbitration</u>: Only on the event of failure to resolve the dispute through Mediation as set
                        out above,
                        the Parties shall be at liberty to refer the same for arbitration by a sole arbitrator. I4i
                        shall suggest the
                        names of three arbitrators and the "Group/Partner" may choose one among them and such person
                        shall be the sole
                        arbitrator, to whom the disputes shall stand referred. &nbsp;Such arbitration shall be conducted
                        in accordance
                        with the Arbitration and Conciliation Act, 1996, as amended by the Arbitration and Conciliation
                        (Amendment)
                        Act, 2015 or any statutory amendment or re-enactment thereof for the time being in force. The
                        reasonable
                        arbitral award shall be final and binding on the parties.</li>
                    <li><u>Language and Venue</u>: The mediation or arbitration shall be conducted in English and the
                        venue for the
                        same shall be in Bangalore, India.</li>
                    <li><u>Jurisdiction</u>: Subject to the foregoing, the courts at Bangalore shall have exclusive
                        jurisdiction.&nbsp;</li>
                    <li><u>Governing Law</u>: This MOU shall be governed by and construed and enforced in accordance
                        with the lawsof
                        India.</li>
                </ol>
            </li>

            <li><strong>GENERAL PROVISIONS</strong>
                <ol start="13.1">
                    <li><u>Entire</u><u>Agreement &amp; Precedence</u>: This MOU and any amendments thereto constitute
                        the entire
                        agreement between the Parties relative to the subject&nbsp;matter hereof, and supersedes all
                        proposals,
                        written or oral, and all other communications between the parties relating to the subject matter
                        of this MOU.
                    </li>
                    <li><u>Amendments or Alterations</u>: This MOU may be modified, amended or rescinded only by a
                        written agreement
                        executed by both Parties.</li>
                    <li><u>Severability</u>: The invalidity, illegality or unenforceability of any provision of this MOU
                        shall in no
                        way affect the validity, legality or enforceability of any other provision.</li>
                    <li><u>Binding Nature</u>: This MOU shall be binding upon and inure to the benefit of the Parties
                        hereto and
                        their respective successors and assigns.</li>
                    <li><u>Assignment</u>: Parties shall not assign nor otherwise transfer or sell any of its rights
                        under this MOU
                        without prior written consent of the other Party.</li>
                    <li><u>Waiver</u>: The waiver by either Party of a breach of any provision of this MOU shall not
                        operate or be
                        construed as a waiver of any subsequent breach.</li>
                    <li><u>Force </u><u>Majeure</u>:Neither Party will be under any liability to the other in any way
                        whatsoever for
                        destruction, damage, delay or any other matters of that nature whatsoever arising out of war,
                        rebellion, civil
                        commotion, strikes, lock-outs and industrial disputes, fire, explosion, earthquake, acts of God,
                        flood,
                        drought, or bad weather or the requisitioning or other act or order by any Government
                        department, council or
                        other constituted body.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></li>
                </ol>
            </li>
        </ol>
        <p><strong>IN WITNESS WHEREOF</strong>&nbsp;the Parties have caused this MOU to be executed by their duly
            authorized
            representatives.</p>
    </div>

    <div class="kt-portlet__foot col-lg-12" style="align-self: center !important;">
        <button class="btn btn-lg btn-block " style="background-color: #333333 !important; color: white !important;"  (click)='onAgree()'> I Agree</button>
    </div>
</div>