
  .btn-chat{
    float: right;
    margin-top: 40px;
        margin-right: 25px;
  }
    
    .header {
      padding: 20px;
      text-align: center;
      color: white;
      font-size: 30px;
    }
    .btn{
      margin-top: 0px !important;
    }
    .btn-chat{
      float: right;
    }
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    .mat-dialog-container{
      padding: 20px !important;
    }