/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";


// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.mat-table, .mat-paginator-page-size-label, .mat-option-text, label, button, .mat-select-value-text {
	// font-family: 'poppins' !important;
	font-family: 'Roboto', sans-serif !important;
}

.mandatory-field:after{
	content: "*";
	margin-left: 10px;
	margin-bottom: 2px;
	font-size: 15px;
	color: red;
}

.mat-error {
  color: #dc3545 !important;
}

.kt-header--minimize .brand-text {
	display: none;
}	

.kt-truncate {
	width: 200px;
	display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.set-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .kt-container {
// 	padding: 0 0px !important;
// }
.kt-header{
	display: inline !important;
}

@media(min-width: 430px) {
  .modal-dialog {
    max-width: 650px !important;
    margin: 1.75rem auto;
  }

	.cropper-bg{
		width: auto !important;
	}
	
	.modal-dialog {
		position: relative;
		width: 650px !important;
		margin: 0.5rem;
		pointer-events: none;
	}

}






